@use "../mixin" as *;
@use "../functions" as *;
@use "../extends" as *;

.footer {
  background-color: var(--bg-secondary-color);
}
.footer__logo {
  font-size: calcClamp(24, 36);
  @extend .font-secondary;
  line-height: 1;
}
.footer__inner {
  @extend .inner;
  padding-block: rem(80);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__navigation {
  margin-block-start: 2.5rem;
}
.footer__navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.75rem 1.5rem;
  @include mq("md") {
    flex-direction: row;
  }
}
.footer__navigation__list__item {
}
.footer__navigation__list__link {
  font-size: var(--font-size-base);
  @extend .font-secondary;
  display: block;
  width: fit-content;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0.125em;
    transition: width 0.3s;
  }
  &:hover,
  &.is-current {
    &::after {
      width: 1em;
    }
  }
}
.copyright {
  margin-top: 2rem;
  font-size: var(--font-size-xs);
}
