---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PageSection from "@/components/PageSection.astro";
import CollectionArticleList from "@/components/CollectionArticleList.astro";
import { orderedContentsCollection } from "@/libs/contentsCollection";
const pageTitle = "Patterns";
const description =
  "アクセシビリティやモーションの実装パターンを備忘録として残しています";
const patterns = await getCollection("patterns");
const orderedPatterns = orderedContentsCollection(patterns.filter((pattern) => !pattern.data.draft), "desc");
---

<Layout pageTitle={pageTitle} description={description}>
  <PageSection pageTitle={pageTitle}>
    <div class="patterns">
      <p class="patterns__lead">
        このページではアウトプットを目的として、アクセシビリティの実装パターンやモーション実装についてまとめています。
      </p>
      <CollectionArticleList posts={orderedPatterns} parentPath="patterns" />
    </div>
  </PageSection>
</Layout>
<style lang="scss">
  @use "../../styles/mixin" as *;
  @use "../../styles/functions" as *;
  @use "../../styles/extends" as *;
  .patterns {
    &__lead {
      margin-block-end: var(--spacing-4xl);
    }
  }
</style>
