---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PageSection from "@/components/PageSection.astro";
import CollectionArticleList from "@/components/CollectionArticleList.astro";
import { orderedContentsCollection } from "@/libs/contentsCollection";
const pageTitle = "Notes";
const description =
  "Kaze Notesの技術メモ一覧です。技術的な知識や学習したことをまとめています。";
const notes = await getCollection("notes");
const orderedNotes = orderedContentsCollection(
  notes.filter((note) => !note.data.draft),
  "desc",
);
---

<Layout pageTitle={pageTitle} description={description}>
  <PageSection pageTitle={pageTitle}>
    <div class="notes">
      <CollectionArticleList posts={orderedNotes} parentPath="notes" />
    </div>
  </PageSection>
</Layout>
<style lang="scss">
  @use "../../styles/mixin" as *;
  @use "../../styles/functions" as *;
  @use "../../styles/extends" as *;
</style>
