
body {
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-primary);
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus-visible,
a:focus,
button:focus
{
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--primary-color) ;
}