@use "mixin" as *;
@use "functions" as *;
@use "extends" as *;

body {
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-primary);
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  line-height: 1.5;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

:focus-visible,
a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--primary-color);
}

button {
  border: none;
}

.category {
  font-weight: 700;
  padding: rem(4) rem(8);
  border-radius: rem(4);
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
}

.category-link {
  transition:
    color 0.3s,
    border-color 0.3s,
    background-color 0.3s;

  &:hover,
  &:focus-visible,
  &.is-current {
    color: var(--light-gray-color);
    background-color: var(--dark-gray-color);
  }
}
.category-filter {
  padding: rem(8) rem(16);
}

.date {
  font-family: var(--font-secondary);
}

.page-section {
  padding-block: var(--spacing-6xl);
  @extend .inner;
}
.page-title {
  font-size: var(--heading-1);
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 1;
  margin-block-end: var(--spacing-4xl);
}
