.inner {
  max-width: 1240px;
  width: 90%;
  margin-inline: auto;
}

.font-secondary {
  font-family: var(--font-secondary);
  font-weight: 700;
}

%line {
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.3s;
    background: var(--text-primary);
  }
}

%line-hover {
  &::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
