---
import Layout from "../layouts/Layout.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Button from "@/components/Button.astro";
import NoteArticleList from "@/components/NoteArticleList.astro";
import TechArticleList from "@/components/TechArticleList.astro";
import WorksSlider from "@/components/WorksSlider/WorksSlider.astro";
import { getNotesList, getWorksList } from "@/libs/api/microcms";
import { getZennArticles } from "@/libs/api/zennFunctions";

const { contents: notesList } = await getNotesList({
  limit: 5,
});
const { contents: worksList } = await getWorksList({
  limit: 5,
});
const { articles: techList } = await getZennArticles({
  count: 6,
  order: "latest",
});
---

<Layout>
  <section class="note">
    <div class="note__inner">
      <header class="note__header">
        <SectionTitle
          heading="技術メモ"
          subText="Notes"
          className="note__title"
        />
        <Button
          href="/notes"
          text="一覧はこちら"
          variant="secondary"
          size="sm"
          className="note__button"
        />
      </header>
      <NoteArticleList notesList={notesList} />
    </div>
  </section>
  <section class="tech">
    <div class="tech__inner">
      <SectionTitle
        heading="Zenn公開記事"
        subText="Tech Articles"
        className="tech__title"
      />
      <TechArticleList techList={techList} />
      <Button
        href="/tech"
        text="一覧はこちら"
        variant="secondary"
        size="sm"
        className="tech__button"
      />
    </div>
  </section>
  <section class="works">
    <div class="works__inner">
      <SectionTitle heading="作品" subText="Works" className="works__title" />
      {
        worksList.length > 0 ? (
          <WorksSlider worksList={worksList} />
        ) : (
          <p>現在投稿はありません</p>
        )
      }
    </div>
    <Button
      href="/works"
      text="一覧はこちら"
      variant="secondary"
      size="sm"
      className="works__button"
    />
  </section>
  <style lang="scss">
    @use "../styles/mixin" as *;
    @use "../styles/functions" as *;
    @use "../styles/extends" as *;
    .note {
      padding-block: var(--spacing-6xl);
      &__inner {
        @extend .inner;
      }
      & :global(.note__title) {
        margin-block-end: 0;
        flex-shrink: 0;
      }
      & :global(.note__button) {
        flex-shrink: 1;
      }
      &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0 var(--spacing-4xl);
        margin-block-end: var(--spacing-4xl);
      }
    }
    .tech {
      padding-block: var(--spacing-6xl);
      background-color: var(--bg-primary-color);
      &__inner {
        @extend .inner;
      }
      &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0 var(--spacing-4xl);
        margin-block-end: var(--spacing-4xl);
      }
      & :global(.tech__button) {
        margin-inline: auto;
        margin-block-start: var(--spacing-xl);
      }
    }
    .works {
      padding-block: var(--spacing-6xl);
      &__inner {
        padding-inline: 5%;
        @include mq("lg") {
          padding-inline: 0%;
          max-width: 1240px;
          width: 90%;
          margin-inline: auto;
        }
      }
      &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0 var(--spacing-4xl);
        margin-block-end: var(--spacing-4xl);
      }
      & :global(.works__button) {
        margin-inline: auto;
        margin-block-start: var(--spacing-xl);
      }
    }
  </style>
</Layout>
