---
import type { Category } from "@/types/microcms";

interface Props {
  category: Category;
  className?: string;
  href?: string;
  type?: "default" | "link" | "filter";
}
const { category, className, href, type = "default" } = Astro.props;
---
{
  href && type !== "default" ? (
    <a
      href={href}
      class:list={[
        "category",
        "category-link",
        type === "filter" ? "category-filter" : "",
        className,
      ]}
    >
      {category.name}
    </a>
  ) : (
    <p class:list={["category", className]}>{category.name}</p>
  )
}
