---
import type { NotesList } from "@/types/microcms";
import NoteArticle from "./NoteArticle.astro";

interface Props {
  notesList: NotesList;
}
const { notesList } = Astro.props;
---

{
  notesList.length > 0 ? (
    <div class="note-list">
      {notesList.map((note) => {
        return <NoteArticle note={note} />;
      })}
    </div>
  ) : (
    <p>現在投稿はありません</p>
  )
}

<style lang="scss">
  .note-list {
    display: grid;
    gap: var(--spacing-lg);
  }
</style>
