---
import Layout from "./Layout.astro";
type Props = {
  pageTitle?: string;
  description?: string;
  keywords?: string;
};
const { pageTitle, description, keywords } = Astro.props;
---

<Layout pageTitle={pageTitle} description={description} keywords={keywords}>
  <section class="page-section">
    <div class="column-content">
      <div class="column-content__sidebar">
        <slot name="sidebar" />
      </div>
      <div class="column-content__main">
        <slot name="main" />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/mixin" as *;
  @use "../styles/functions" as *;
  @use "../styles/extends" as *;

  .column-content {
    display: grid;
    column-gap: var(--spacing-3xl);
    grid-template-columns: 1fr;
    @include mq("lg") {
      grid-template-columns: 1fr 300px;
    }
    &__main {
      min-width: 0;
      order:1;
    }
    &__sidebar {
      order: 2;
    }
  }
</style>
