---
import Layout from "./Layout.astro";
---

<Layout>
  <section class="page-section">
    <div class="column-content">
      <div class="column-content__main">
        <slot name="main" />
      </div>
      <aside class="column-content__sidebar">
        <slot name="sidebar" />
      </aside>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/mixin" as *;
  @use "../styles/functions" as *;
  @use "../styles/extends" as *;

  .column-content {
    display: grid;
    column-gap: var(--spacing-3xl);
    grid-template-columns: 1fr;
    @include mq("lg") {
      grid-template-columns: 1fr 300px;
    }
    &__main {
      min-width: 0;
    }
  }
</style>
