---
import Head from "@/layouts/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.scss";
import "@fontsource/zen-kaku-gothic-new/500.css";
import "@fontsource/zen-kaku-gothic-new/700.css";
import "@fontsource-variable/outfit";
import "kiso.css";
type Props = {
  pageTitle?: string;
  description?: string;
  keywords?: string;
};
const { pageTitle, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <Head pageTitle={pageTitle} description={description} keywords={keywords} />
  <body>
    <Header />
    <main class="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
